[2021-09-30 18:46] r4pt0s opened #2 "Modal Component"
The goal of this component is to create a modal window component.
It should receive a titel, okay-text and cancel-text prop and also content via slots.

Further information if needed gets added in this issue.

[2021-09-30 18:52] r4pt0s opened #3 "Google tag manager component"
More of a behind the scenes component but usually if you want to implement a Google tag manager script you need to have Javascript enabled anyway so it is a good use-case.

This component needs to receive at least the contained ID as prop.
More information about what this is can be found [here](https://developers.google.com/tag-platform/tag-manager/web)

[2021-09-30 18:55] r4pt0s opened #4 "Product card component"
As the title already suggests, a product car component.
It's more like a case study how far we can get here with such a component.
Chances are that this one component contains more other components as well.
At least it should get split into smaller chunks which can totally happen in another PR then.

Feel free to come up with features and design yourself.

[2021-09-30 18:57] r4pt0s opened #5 "Slider component"
This is a tricky one especially if we create one with accessibility in mind.
This component could act as a wrapper for a slide item component.
Come up with props which would make sense on your own.

[2021-09-30 18:59] r4pt0s opened #6 "Hero component"
Each website usually has a here section at the very top of it.
This component should at least receive breakpoints as props, maybe a default background color and how much of a height it should take and a image url.
Then it should receive content via slots.

[2021-09-30 19:29] SneakySensei commented on #3
Hello maintainers! I've started working on this, can you assign me this issue?

Regards,
Snehil

[2021-09-30 20:42] r4pt0s opened #8 "Checkbox component"
Everybody knows that it can be a bit hard to line up a custem checkbox as you want it to be.
This component should make that easier.
It should be a funny one which should work with emojis.

The component itself should accept to props. A check-true and check-false prop where you can pass emojis for the two states a checkbox could have.

It should also accept content via a slot.

[2021-09-30 20:48] r4pt0s opened #9 "Image component"
This one might look easier as it might be to implement.
The goal of this component is to make use of the html picture element.

It should receive at least three props,.
1. src-dir-jpg
2. src-dir-webp
3. src-img-name

Internally it should then create the picture element which makes use of srcset and define at least both img elements.

As a reference, head over to [this website ](https://www.industr

[2021-09-30 20:51] r4pt0s opened #10 "Tooltip component"
Tooltips can provide a huge usability impact.

This component should receive at least two props.
1. position
2. background-color

Any other props which might come in handy to configure the Tooltip can be implemented as well if you have some in mind.

It should of course also accept content via a slot.

[2021-09-30 20:53] r4pt0s opened #11 "Dropdown component"
As the title already suggests, this component should create a basic Dropdown.

It should accept at least one prop which is the position of where the Dropdown should slide in.
Bottom to bottom or top to top for example.

[2021-09-30 20:56] hackto-dev commented on #11
Please assign me this issue. Excited to work on this :)

[2021-09-30 22:30] IM-Deane opened #12 "SearchBox Component with Auto Completion"
A reusable search box with the ability to autocomplete a user's input would be an excellent component.

Besides the autocompletion, the component should allow the developer to specify its size or behave in a more responsive manner.

Some other interesting features would be basic input validation, a helper text property, a built-in submit button, and other types of styling customizations.

[2021-09-30 22:35] IM-Deane opened #13 "Icon Component"
The proper use of icons can really enhance the feel of an application. Therefore, a well-designed component that wraps an icon would be a fine addition to our collection.

Some good default properties might include changing its color and size.

Because icons can be decorative and semantic, a property that allows the developer to specify the icon’s role would be handy. I’m thinking it could default

[2021-09-30 22:37] IM-Deane opened #14 "Avatar Component"
An Avatar component would be a great addition as it can be used in many different areas of a project.

A standard version should reflect a typical img tag with properties like ‘src’ and alt’.

You may also want to consider adding props that would allow the user to customize the shape (ie. rounded, square, etc.) and size of the Avatar.

Finally, what happens if the user doesn’t want to upload an im

[2021-09-30 22:57] IM-Deane opened #15 "Data Fetcher Component"
I’m thinking of an asynchronous component that accepts a URL and returns a promise.

A developer that uses this component can expect a request to work with minimal configuration. The returned data should also be parsed already (ie. no JSON).

Finally, for those demanding devs that need more control, including a means to configure the request a bit (optional params) would be nice.

[2021-09-30 23:14] IM-Deane opened #16 "Telephone Input Component"
Are you **sick and tired** of having to recreate a form field that can handle and validate telephone numbers?

Yeah, us too.

Therefore, we would like our library to include a Telephone component that only accepts text matching a particular set of standard telephone formats.

**Example:**
- (XXX)-XXX-XXXX -> North American
- X-XXX-XXX-XXXX -> International

The more flexible this component is the

[2021-09-30 23:22] IM-Deane opened #17 "TabView Component"
Tabs make it easy to navigate between different groups of related content.

A TabView component would allow the developer to conditionally render different sets of info when a user clicks a button, link, etc.

It might be easier to break this one down into several sub-components.

[2021-10-01 08:37] Chetan-khachane commented on #2
Hi, I started working on this component.

[2021-10-01 09:36] r4pt0s commented on #3
We will review your PR and let you know the result of it

[2021-10-01 12:13] sidmohanty11 opened #18 "Nav Component"
Can I add responsive Nav components?

[2021-10-01 13:00] #18 closed

[2021-10-01 13:52] ruffle1986 commented on #8
Could you please explain what do you mean by `It should also accept content via a slot.`

[2021-10-01 14:24] r4pt0s commented on #8
Sure @ruffle1986.
A checkbox usually has a text label on the right side.

With web components you have the ability to pass content via a slot name to the web component and render it there where you want to.

[2021-10-01 14:25] r4pt0s commented on #11
@hackto-dev
Go for it 💪🏻

[2021-10-01 14:44] r4pt0s commented on #2
@Chetan-khachane
Go for it 💪🏻

[2021-10-01 17:28] Chetan-khachane commented on #2
when I write npm start, it throws an error.
why is this is happening?
![image](https://user-images.githubusercontent.com/70019702/135662461-abd1bda5-644f-4b91-a217-fdccf78caf5a.png)

[2021-10-01 17:48] Chetan-khachane commented on #3
hi,
did you face this error while making :
![image](https://user-images.githubusercontent.com/70019702/135664798-d642e6ae-dc76-4fc4-83e4-b94b22847d59.png)

[2021-10-01 17:52] lejara commented on #10
Hello! is it okay if can work on this?

[2021-10-01 18:00] IM-Deane commented on #10
Absolutely!

[2021-10-01 18:05] IM-Deane commented on #2
Hi @Chetan-khachane, it looks like you may not have built the project yet.
From the root of the project please try running:
[code]

[2021-10-01 18:26] ruffle1986 commented on #8
Ah I see, this one https://developer.mozilla.org/en-US/docs/Web/HTML/Element/slot

[2021-10-01 19:20] r4pt0s opened #19 "Npm start doesn't work the first time"
Due to the current setup, npm start doesn't work at the very first try after cloning the repo.

## Workaround
After cloning run `npm install`
Then run `npm run build`
Afterwards, `npm start` will work again

[2021-10-01 19:42] rwiteshbera commented on #19
It is not an issue, you have to use `npm install` to get the node_modules. Afterwards you can run `npm start`

[2021-10-01 20:11] IM-Deane commented on #19
Unfortunately, some people may encounter an issue when trying to run the project after installing the node_modules. The attached screenshots depict the error.

The steps to reproduce the bug (from a **fresh** install):
1. git clone https://github.com/zero-to-mastery/WebBlocks.git
2. cd WebBlocks
3. npm install
4. npm start

We are looking into the issue, but the workaround highlighted above should

[2021-10-01 21:03] ankeshp03 commented on #14
Hi, I would like to work on this issue.
Can you please assign this to me?

[2021-10-01 21:19] IM-Deane commented on #14
@ankeshp03 Done. Have fun!

[2021-10-02 05:27] Chetan-khachane commented on #19
Hi , It worked!
Thank you so much.

one thing I want to ask you is that whenever we stop the dev server then if we made changes then again we have to do npm build and then npm start.

[2021-10-02 05:29] Chetan-khachane commented on #19
The solution provided by @r4pt0s works for me.

[2021-10-02 05:52] Chetan-khachane commented on #19
![image](https://user-images.githubusercontent.com/70019702/135705264-c395beb6-5572-4fe8-a1c6-8c2c41ba263b.png)
I am again encountering the same problem, even after I followed the workaround provided by @r4pt0s. It only works when cloning our repo for the first time and everything is fresh and later if we change something then it again shows the above-described error.

[2021-10-02 05:56] Chetan-khachane commented on #19
i think the problem is related to webblocks.css

[2021-10-02 05:59] Chetan-khachane commented on #19
![image](https://user-images.githubusercontent.com/70019702/135705434-06aef46b-e349-4a42-b951-5d230de3391a.png)
this something come after doing ```npm run build```

[2021-10-02 06:12] Chetan-khachane commented on #19
i think the error is coming due 'stencil.config.ts', it throws an error: Cannot find name 'process'.

[2021-10-02 06:15] r4pt0s commented on #19
Thanks for sharing your thoughts. We are still investigating why this is happening now.

I just can give you a typical answer for now, it worked for me after setting this project up 😅.

I will look into it today and hopefully merge a fix today.

[2021-10-02 06:29] Chetan-khachane commented on #19
i installed ```@types/node``` and tried to import but it says :

![image](https://user-images.githubusercontent.com/70019702/135706155-dfa3ca8d-0e30-4961-8498-7141eca5cffe.png)

this is changes that I made in stencil.config.ts:

![image](https://user-images.githubusercontent.com/70019702/135706182-26f871d8-803b-4b74-aac6-dc6b567e47f7.png)

[2021-10-02 06:30] Chetan-khachane commented on #19
when I tried in node, ```process.env.PWD``` it returns ```undefined```. it must be a path issue i think.

[2021-10-02 06:40] Chetan-khachane commented on #19
From me and @IM-Deane , i think it is a path issue in stencil.config.ts.

[2021-10-02 06:48] #19 closed

[2021-10-02 06:50] r4pt0s commented on #19
Should be fixed now @Chetan-khachane
Please pull the latest changes from main

[2021-10-02 09:35] Insidiae commented on #9
Hello, I'd like to work on this component please!

[2021-10-02 10:00] r4pt0s commented on #9
@Insidiae
Go for it 💪🏻

[2021-10-02 12:39] pri1311 commented on #4
I would like to work on this, however, I had a few questions as to how detailed it has to be? I assume it would be the title, cost, description, and image. Is there anything else you expect?

[2021-10-02 14:13] r4pt0s commented on #4
@pri1311
No, for the first iteration of this component, this would be totally fine.

For the future I have things in mind like
- a different image on hover or a text which appears on hover
- add to cart action
- product variation swatches like we all know it from Amazon. If you click on one of them, the color of the product changes for example.

Shall I assign it to you?

[2021-10-02 14:42] pri1311 commented on #4
I believe implementing the first two features you mentioned wouldn't be difficult, however, I believe product variation is beyond my scope.

Yes, would like to work on this one.

[2021-10-02 14:44] r4pt0s commented on #4
No worries @pri1311 you don't have to.

Going with the basics is absolutely fine.
Go for it 💪🏻

[2021-10-02 15:27] Kenny-Vu commented on #6
Hi, I'd like to give it a shot if no one is doing it yet :)

[2021-10-02 15:29] Chetan-khachane commented on #2
@r4pt0s  what do you mean by "content via slots" ?

[2021-10-02 15:54] r4pt0s commented on #2
@Chetan-khachane
Web components can receive content via slot name.
This slot name can be used to place the content within your web component where you want it to be.
Have a look at [the stenciljs docs](https://stenciljs.com/docs/templating-jsx#slots) to see how it is done with stencil.

[2021-10-02 15:55] r4pt0s commented on #6
@Kenny-Vu
Go for it 💪🏻

[2021-10-02 16:49] Kenny-Vu commented on #6
Hi @r4pt0s,

Currently having a problem with the build, so I haven't even seen how the project looks like. Googled around to read about the bugs and seems like a very recent issue. If you have time and an idea to help me fix this that would be really appreciated. Otherwise, you can remove me from the task and I'll hop on another HacktoberFest project no worries :)

![ztm-error 0](https://user-imag

[2021-10-02 17:45] r4pt0s commented on #6
@Kenny-Vu,

When does this happen?
If you npm start the project?

Or did you already add something and the error got thrown then?

[2021-10-02 17:46] Kenny-Vu commented on #6
After npm start

[2021-10-02 17:50] r4pt0s commented on #6
Okay.
I'll have to look into it.

If you want to move on, let me know about it.

[2021-10-02 18:01] Kenny-Vu commented on #6
Yes, you can remove me no problem. Thanks!

[2021-10-02 18:42] pawankm21 commented on #6
Would like to work on this issue.

[2021-10-02 18:43] #3 closed

[2021-10-02 18:44] r4pt0s commented on #6
@pawankm21
Go for it 💪🏻

[2021-10-03 03:48] Chetan-khachane commented on #2
Hi, @r4pt0s, sorry to disturb you. I accidentally clicked on remove assignee by myself. Can you please make me assignee again?

[2021-10-03 07:02] Chetan-khachane commented on #2
hi, @r4pt0s, I want to ask you that, whether we should make a button that displays a modal window or leave it for a user to set the button.

[2021-10-03 07:45] Chetan-khachane commented on #2
@r4pt0s, I want to make pr. Do I have to do ```npm run build``` before making pr or just push my chages?

[2021-10-03 08:04] r4pt0s commented on #2
@Chetan-khachane
Just make your changes and make a PR to the dev branch.
The project gets build automatically by github actions.

[2021-10-03 08:08] Chetan-khachane commented on #2
![image](https://user-images.githubusercontent.com/70019702/135745425-abdd5487-78df-46ea-897a-af95310fb520.png)
is this is correct ?
i pushed via ```git push origin modal -window```. I created a new branch called modal-window.please reply

[2021-10-03 08:08] Chetan-khachane commented on #2
@r4pt0s

[2021-10-03 08:10] Chetan-khachane commented on #2
![image](https://user-images.githubusercontent.com/70019702/135745530-a86624ec-5fda-458e-a4e1-c7c9360480ab.png)
this is coming main ztm repo

[2021-10-03 08:16] Chetan-khachane commented on #2
why it is saying ' Can't automatically  merge'?

[2021-10-03 08:25] Chetan-khachane commented on #2
@r4pt0s , I am facing merge conflict in component.d.ts. help me

[2021-10-03 12:35] rathorenikita123 commented on #11
I would like to work on this issue.

[2021-10-03 12:35] sridarshan-webjava commented on #13
Hello. I would like to give this task a try. Could you assign this to me ? Could you just brief me on what has to be included in the component. For instance I can pass in a prop of having a tooltip that gives an idea on what the icon is used for. Would properties like these make sense to the component ?

[2021-10-03 13:45] pawankm21 commented on #6
On it.

[2021-10-03 15:06] r4pt0s commented on #11
@rathorenikita123
This issue is already assigned to @hackto-dev
But we have a few others left.

[2021-10-03 17:46] r4pt0s commented on #13
@sridarshan-webjava
Go for it.

Would be great to have also such a Tooltip.
The main prop of this component should be a name of a icon which then resolves to the real icon.

Other useful props like
- size
- color

are also be a great improvements.

[2021-10-03 17:47] #9 closed

[2021-10-03 17:48] r4pt0s commented on #8
@ruffle1986
Do you work on it?

[2021-10-03 17:57] sridarshan-webjava commented on #13
Thank you so much for the reply and for assigning this task. Basically the user would input the name of the icon as prop and we should translate that into the real icon ( E.g If user inputs twitter as the value for the prop , we must display a twitter icon). Have i understood it right ? If so are we allowed to use any API's for this task ?

[2021-10-03 18:03] r4pt0s commented on #13
Exactly @sridarshan-webjava.
You can use what you want but I would recommend to deal with it on your own instead of reaching out to a api.

What I mean is, it is okay to use some external service like fontawesome.

But it would be also okay if we start just with a few handpicked icons which you download and put it into the component codebase as asset.

The only thing which is important is that the

[2021-10-03 18:15] r4pt0s opened #29 "Syntax highlighting component"
You can see on all available dev blog sites sections where code samples get provided.
Goal of this component is a easy way to make code snippets look good with minimal usage effort.

It should receive at least one prop which should be the language prop.
The code which should get highlighted should be received via a slot.

[2021-10-03 19:04] sridarshan-webjava commented on #13
Sure. Understood. Will start working on it

[2021-10-03 19:07] pawankm21 commented on #6
Hey, should I create prop for each breakpoint or one prop for all?

[2021-10-04 04:47] r4pt0s commented on #6
One for all would be enough.

[2021-10-04 05:33] Chetan-khachane commented on #15
In short, this component will take API URLs and returns JSON format. Am I correct? @IM-Deane

[2021-10-04 22:47] marichka-offen commented on #29
I would like to try to work on it

[2021-10-05 02:11] thucpn commented on #16
I with make a common input component with pattern prop to validate any other things.
Example:

- Input component to validate North American phone is:

  `<my-input placeholder="Input North American phone number" pattern="^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$" size="large"> </my-input>`

- Input component to validate International phone is:
`<my-input placeholder="Input International p

[2021-10-05 04:36] r4pt0s commented on #29
@marichka-offen
Go for it 💪🏻

[2021-10-05 04:38] r4pt0s commented on #16
@thucpn
Go for it 💪🏻

[2021-10-05 04:39] r4pt0s commented on #15
@Chetan-khachane
Exactly.
This would be the first iteration of this component.

[2021-10-05 07:15] Chetan-khachane commented on #15
I am ready to work on this component. Can you assign me for this?

[2021-10-05 08:29] r4pt0s commented on #15
Sure @Chetan-khachane.
Go for it 💪🏻

[2021-10-05 14:40] starryskadi commented on #17
Hello, I would like to try for this issue.

[2021-10-05 14:53] Chetan-khachane commented on #15
Do I have to return data in JSON format and whether we have to display response in JSON on screen?

[2021-10-05 14:55] r4pt0s commented on #15
@Chetan-khachane it would be super awesome if you could create a table with the response data.
But then you have to find a way to make it that generic that it works for nearly every api.

I already have a iteration of this task in mind which need to happen in other child components.

[2021-10-05 15:50] IM-Deane commented on #17
@starryskadi Go for it!

[2021-10-05 16:23] Chetan-khachane commented on #15
Can I use JSON, because it is written no JSON . Can you explain it?

[2021-10-05 16:40] r4pt0s commented on #15
This means, the fetched data should already be resolved with the .json() method in this case.
Not the raw promise. @Chetan-khachane

[2021-10-06 01:51] Chetan-khachane commented on #12
Autocomplete users' input is like how 'google search autocompletes' works for users input or it can be through HTML ```autocomplete``` attribute which works on past data? Tell me what approach should be used for creating this component?
@IM-Deane

[2021-10-06 12:40] thucpn commented on #16
@r4pt0s I have made a PR for this issue: https://github.com/zero-to-mastery/WebBlocks/pull/38

[2021-10-06 17:04] #2 closed

[2021-10-06 17:29] OPerel commented on #8
Hey @r4pt0s
I would like to give it a shot

[2021-10-06 17:31] r4pt0s commented on #8
@OPerel
Go for it 💪🏻

[2021-10-06 18:00] OPerel opened #40 "Misleading instructions in CONTRIBUTING.md Git Workflow"
Hello,
I just followed the instructions under the `Git Workflow` section of `CONTRIBUTING.md` and found two problems with it.
1. right after the instructions for cloning and adding the `upstream` remote it says to keep local repo up to date. I.e. to run `git pull` both from `upstream dev` and `upstream main`. The problem is people might run `git pull upstream dev` before checking out the `dev` bra

[2021-10-06 20:28] the-halfbloodprince opened #41 "Nav link with a bottom underline going left to right on hover"
Nav link with a bottom underline going left to right on hover, like the one below:

https://user-images.githubusercontent.com/55590289/136278166-84858d9d-2545-4a22-9f48-3758dceb1c78.mp4

[2021-10-06 20:29] the-halfbloodprince commented on #41
I want to work on it. Can this be assigned to me please?

[2021-10-07 01:07] Chetan-khachane commented on #40
Yes, you are correct.

[2021-10-07 09:38] Sa-ar commented on #5
would like to try to work on it

[2021-10-07 10:29] r4pt0s commented on #5
@Sa-ar
Go for it 💪🏻

[2021-10-07 12:11] OPerel commented on #8
Hello @r4pt0s and @IM-Deane (and everyone else),
I would like to discuss some options for implementing this component.
Using emojis in HTML poses some layout and style challenges due to several reasons:
- The wide range of emojis the user can potentially select.
- Emojis may be rendered quite differently by different browsers.
- The user may want to pass in custom styles that will affect the origi

[2021-10-07 14:40] Chetan-khachane commented on #15
I am really confused about this component but I am sharing a design prototype of this.
It is not completed but I think I should show you a prototype that is what is expected from your side.
From the description, I have not come to know what you expected clearly. please let me know by seeing the prototype whether I am on the right path or not?
![image](https://user-images.githubusercontent.com/7001

[2021-10-07 15:18] r4pt0s commented on #8
@OPerel
The second one also makes more sense for me personally.
I like the thought process 👏🏻👏🏻

[2021-10-07 15:20] r4pt0s commented on #15
@Chetan-khachane
Totally okay for the beginning.
We can move on from this version in the future once we have the base logic for everything.
Good job.
Keep going

[2021-10-07 15:35] Chetan-khachane commented on #15
@r4pt0s , Thanks for your response.

[2021-10-07 15:52] software-trizzey commented on #8
@OPerel I love the analytical approach to this!

I also agree with the second approach as I think it would make the component more flexible.

[2021-10-07 17:40] OPerel opened #43 "Component's API documentation"
What about documentation on how to use the different components?
As a start stencil can be used to auto generate docs in [markdown](https://stenciljs.com/docs/docs-readme), [JSON](https://stenciljs.com/docs/docs-json), and a [custom format](https://stenciljs.com/docs/docs-custom).
Or each contributor can add a short API doc and usage guide in a general MD file.

I'd be happy to get this started if

[2021-10-07 21:40] jomefavourite opened #44 "Alert Component"
I'll love to work on an alert component, which showcases error messages, success messages and so on

[2021-10-08 07:53] starryskadi commented on #17
thanks.

[2021-10-08 16:57] r4pt0s commented on #44
Awesome idea @jomefavourite.
I'm curious with what you will come up with.
Go for it 💪🏻

[2021-10-08 16:58] r4pt0s commented on #43
That would be awesome @OPerel.
Go for it 💪🏻

[2021-10-08 16:59] r4pt0s commented on #41
Awesome idea.
Do you have planned to also add nav items support to it?
Go for it 💪🏻

[2021-10-08 17:00] r4pt0s commented on #40
You are absolutely right @OPerel.
Would be awesome if you could fix it.
Go for it 💪🏻

[2021-10-08 17:24] jomefavourite commented on #44
Thanks 😊

[2021-10-08 18:08] OPerel commented on #40
Opened PR #47

[2021-10-08 19:36] jjaijg opened #49 "Progress component"

[2021-10-08 19:37] jjaijg commented on #49
I would like to work on a progress component, which can be either in line or circular shape

[2021-10-08 21:53] the-halfbloodprince commented on #41
Yeah I was actually planning to create just a nav item with this animation as that would provide more flexibility, or the other idea is to take an array and each array item corresponds to a nav link, but people mostly just need the first option, what are your opinions on this, @r4pt0s ? Which option looks more helpful?

[2021-10-09 06:16] r4pt0s commented on #41
Totally.
Let's start with the first approach which you have mentioned @the-halfbloodprince.
That is also easier and clearer to use.

[2021-10-09 16:17] nataliarossini opened #51 "Loading spinner component"
Hello, I'd like to create a loading spinner component and it would be customisable via props, the color for instance and perhaps the shape too :)

[2021-10-09 16:59] Dromediansk opened #53 "Merge conflict in components.d.ts file"
<h1>What is the issue:</h1>
There's a merge conflict in `components.d.ts` file.

<h1>How to reproduce</h1>
After running `npm start`, the build fails due to syntax errors. The project can't be developed without the fix.

<h1>Expected behaviour</h1>
The build should succeed and show the UI.

I'd like to fix it and contribute on the project, so I created a PR fix: #52

[2021-10-09 18:45] theonly1me commented on #12
@IM-Deane Can you kindly assign this to me?

[2021-10-09 19:12] or-yam opened #54 "Can't close window-modal"
On dev branch, modal-window component can't be closed (cancele & confilrm buttons has no effect).

[2021-10-09 20:46] software-trizzey commented on #12
@theonly1me Done deal. Have fun! 🚀

[2021-10-10 14:08] Chetan-khachane commented on #15
hi, @r4pt0s, I have a question that whether we have to console log the response in browser console or display it to screen or response shouldn't be displayed i.e it should be given to the developer through component after getting a response?

[2021-10-10 14:58] r4pt0s commented on #15
@Chetan-khachane for now, it will be enough to console.log it.
In order to make this component usable, we have to create other child components which then display the fetched data.

[2021-10-10 15:01] #54 closed, assigned to or-yam

[2021-10-10 15:02] #53 closed, assigned to Dromediansk

[2021-10-10 15:03] r4pt0s commented on #51
@nataliarossini
Awesome idea.
Go for it 💪🏻

[2021-10-10 15:03] r4pt0s commented on #49
@jjaijg
Awesome idea.
Go for it 💪🏻

[2021-10-10 15:03] #44 closed, assigned to jomefavourite

[2021-10-10 15:04] #43 closed, assigned to OPerel

[2021-10-10 15:04] #40 closed, assigned to OPerel

[2021-10-10 15:04] #8 closed

[2021-10-10 15:58] Dromediansk opened #58 "Typography component"
I was thinking about creating a general component for headers and paragraphs. One might specify the size, text format (italic, bold, etc.) or its own styling. Would very like to do it :)

What do you guys think?

[2021-10-11 13:14] the-halfbloodprince opened #61 "animated-border button"
A button with animated colour gradient borders like this:

https://user-images.githubusercontent.com/55590289/136796072-872416e7-4689-47ff-a4d2-29e74071b2df.mp4

[2021-10-11 13:14] the-halfbloodprince commented on #61
I'm working on this, please assign me on this

[2021-10-12 12:33] Chetan-khachane opened #63 "Hamburger menu"
Hi, I am interested to make it. Can you assign me?

[2021-10-12 14:55] r4pt0s commented on #63
Awesome.
This is what is missing.
Good idea.
Go for it @Chetan-khachane 💪🏻

[2021-10-12 14:56] #61 closed, assigned to the-halfbloodprince

[2021-10-12 14:57] r4pt0s commented on #58
Awesome.
Go for it @Dromediansk 💪🏻

[2021-10-12 20:23] jselmani opened #64 "Will this project continue past HacktoberFest 2021?"
Hi WebBlocks team,

I'm interested in contributing but may not be able to in October.  Is this project going to continue past HacktoberFest 2021?  If so, I will make a PR at some point soon.

If not, 😞

Let me know and feel free to close the issue afterwards 💯

[2021-10-13 17:20] rakshithshenoy opened #65 "Typo in MARKDOWN.md"
There is a typo on line 60 where tsconfig.json has been written as tsconig.json

[2021-10-13 20:49] r4pt0s commented on #64
Hi @jselmani,

This project will be alive after October as well.
We just used the Hacktoberfest to kick start it.

Feel free to contribute at any time.

[2021-10-14 13:13] jselmani commented on #64
Awesome thanks @r4pt0s!  I'll be sure to come back and do so.

[2021-10-14 13:13] #64 closed, assigned to nobody

[2021-10-15 11:38] SandipNirmal opened #71 "Accordion component"
I'll create an `Accordion Component` with functionality similar to material-ui accordion.  https://mui.com/components/accordion

[2021-10-15 11:56] debersole81 commented on #63
Could I help with this component?

[2021-10-15 14:41] r4pt0s commented on #63
@Chetan-khachane, any chance @debersole81 can help out developing this component together with you?

[2021-10-15 14:43] r4pt0s opened #72 "Typewriter effect component"
Everybody loves the typewriter effect I guess.
Goal of this component is to implement it everywhere easily.

It should receive the content via a slot.
Props should get added as you see fit.
The most important thing is that the speed of this effect I depending on the number of characters which the string contains in the slot.

As a reference, head of to [this blog post](https://www.sitepoint.com/cs

[2021-10-16 13:23] Chetan-khachane commented on #63
@r4pt0s @r4pt0s @r4pt0s, @debersole81, Sorry for the late reply. I think we can help each other. I am not good at design. Can you help me in designing, rest of the functionalities I can give with ts. I will be glad if we can work together.
I did 30% of the work.

[2021-10-16 14:55] r4pt0s commented on #63
@debersole81 can you help out with design tasks?

[2021-10-17 06:54] devaang21 commented on #72
please assign me this issue

[2021-10-17 07:03] r4pt0s commented on #72
@devaang21
Go for it 💪🏻

[2021-10-18 11:44] debersole81 commented on #63
Yes, I'm happy to. @Chetan-khachane, is there a branch that you're working in?

[2021-10-18 11:51] Chetan-khachane commented on #63
I am working on a forked version. Currently working on the dev branch.
@debersole81

[2021-10-18 16:19] #41 closed, assigned to the-halfbloodprince

[2021-10-18 19:10] marichka-offen commented on #29
@r4pt0s I apologize for not being able to complete this challenge. October got crazy busy. I would like to step away and give somebody else opportunity to contribute on this feature.

[2021-10-18 20:54] theonly1me commented on #12
Sorry, but I'm unable to complete this at the given time. Would definitely love to contribute to this project sometime in the future. Thank you.

[2021-10-18 22:34] umapreethi-dev opened #75 "Team Members card"
I would like to create a Team member card component.

[2021-10-19 05:30] r4pt0s commented on #29
No worries @marichka-offen.

[2021-10-20 03:16] Chetan-khachane opened #79 "Notification badge component."
![Screenshot_20211020-084456_Chrome](https://user-images.githubusercontent.com/70019702/138022385-d85edf75-7a85-437d-b453-9c1382a24fb6.jpg)
I want to design this component.
@r4pt0s, Can you assign me.

[2021-10-20 05:01] r4pt0s commented on #71
@SandipNirmal
Cool idea.
Go for it 💪🏻

[2021-10-20 05:03] r4pt0s commented on #75
@umapreethi-dev
Good idea.
Would be cool if you reuse the avatar component which we already have.

Go for it 💪🏻

[2021-10-20 05:03] r4pt0s commented on #79
Sure @Chetan-khachane.
Go for it 💪🏻

[2021-10-20 18:57] #79 closed, assigned to Chetan-khachane

[2021-10-20 18:58] #63 closed, assigned to Chetan-khachane

[2021-10-20 19:53] haiderlikesrust opened #80 "Added sign-in-form component"
This lets to make sign in form just in seconds.

[2021-10-21 01:14] Chetan-khachane opened #82 "Dropdown menu"
I want to create a hoverable dropdown menu. @r4pt0s, Can you assign me?

[2021-10-21 03:17] juancwu commented on #12
Is anyone doing this? I would like to take this task as a challenge. Will the autocomplete mechanism be based on a database where it relates to what the user is typing or is it just autocompleting old searches? @IM-Deane

[2021-10-21 05:37] #80 closed, assigned to nobody

[2021-10-21 05:43] r4pt0s commented on #82
@Chetan-khachane
We already have a Dropdown component and someone else is already working on it.
Have a look at issue #11

[2021-10-21 05:47] #82 closed, assigned to nobody

[2021-10-21 05:56] Chetan-khachane opened #83 "Search box component."
@r4pt0s, can you assign me?

[2021-10-21 06:45] #83 closed, assigned to nobody

[2021-10-21 06:53] Chetan-khachane opened #84 "Toast notification component."
@r4pt0s, can you assign this to me?

[2021-10-21 12:50] haiderlikesrust opened #86 "Added break-component"
Helps you in adding space between components

[2021-10-21 17:12] Chetan-khachane commented on #84
I was super excited to make this component. So I do not wait till assigned. I created a PR but assign me to this issue.

[2021-10-21 19:35] software-trizzey commented on #12
Hi @juancwu, i'm not sure if @Chetan-khachane is still working on this. However, I'm sure he wouldn't mind an extra pair of hands.

As for the autocomplete, we would like the data to be based on a database.
Basically, the user should be able to search/filter through some data that the component is connected to.

In this case, the data can simply be mocked from a static json file.

[2021-10-21 19:38] juancwu commented on #12
@Chetan-khachane Are you working on the component? I would like to help out in any way I can.

[2021-10-22 01:38] LucasRobs commented on #86
hi @Haider-Ali-Dev  i would like to solve this problem, could you assign me?

[2021-10-22 06:15] #84 closed, assigned to Chetan-khachane

[2021-10-22 15:22] Chetan-khachane commented on #12
@IM-Deane, @juancwu I am not working on this component.

[2021-10-22 16:31] #86 closed, assigned to haiderlikesrust

[2021-10-22 18:32] #72 closed, assigned to devaang21

[2021-10-22 19:47] haiderlikesrust opened #88 "Added text-style component"
This component can do so much with text by using 3rd party libraries such as Bootsrap
- It has some attributes, like if you want italic text or bold
- How much font-weight
- You can use custom classes
- You can use Bootstrap classes
So much You can do!!!

[2021-10-22 22:00] juancwu commented on #12
Hi @IM-Deane, would it be okay if I used an google api to do a query and use the json response to show to autocomplete mechanism?

[2021-10-23 05:15] fajarsj opened #91 "Breadcrumb Component"
Hi, I would like to create a BreadCrumb Component like [https://getbootstrap.com/docs/5.1/components/breadcrumb/](https://getbootstrap.com/docs/5.1/components/breadcrumb/) with a customizable divider.

[2021-10-23 06:53] Chetan-khachane commented on #12
@juancwu, I was also thinking the same.

[2021-10-23 19:16] juancwu commented on #12
I ended up creating a json file with some random text. It works pretty good.

[2021-10-23 21:54] aal2015 opened #92 "Simple Calculator Component"
Hi, I would like to create a simple calculator component which can do addition, division, subtraction, and multiplication. Please assign this role to me.

[2021-10-24 16:17] software-trizzey commented on #12
Hey @juancwu @Chetan-khachane, the minimum requirement is to have some basic test data that can be used to demonstrate functionality. The json file can contain any type of data you'd like, as long as it works with the component.

If you'd prefer to use an API to get that data then go for it. 🚀

[2021-10-24 16:20] juancwu commented on #12
Alright, I actually already finished the component but haven't written any documentation. I will be creating a PR soon.

[2021-10-25 02:19] juancwu commented on #29
This component sounds a like lot of fun and I would like to try and make it!!

[2021-10-25 05:47] r4pt0s commented on #29
@juancwu
Go for it 💪🏻

[2021-10-25 11:54] sridarshan-webjava opened #96 "Carousel Component"
- A carousel component can be created with images and text that can be passed as slots to the component.
- We can also have a provision for users to have manual control or make it automated completely.
- The automation part can include a provision whereby users can adjust the time period for the slides

[2021-10-25 19:47] r4pt0s commented on #88
Please remove bootstrap as dependency because it is quite heavy in size.
One of the advantages which web components offer is, that they are light weight.

If someone wants to use bootstrap, why should they also add a webcm component instead of using bootstrap directly?

[2021-10-25 22:32] #96 closed, assigned to nobody

[2021-10-25 22:47] sridarshan-webjava opened #98 "User review component"
- A review component where rating value is passed through props and the review content can be passed through slots
- Tags can also be added to highlight certain aspects of a product (battery life, display, software etc) or to better describe the product in a shorter format (good, expensive, worth buying etc)
- Images can also be added to support the content of the review

(Similar to the review sy

[2021-10-26 00:49] StrykerKent opened #99 "logo not showing up in hamburger menu component"
logo is not showing up. I will fix.
![missing-image](https://user-images.githubusercontent.com/32918293/138790165-ce632392-d3cf-4e7a-b1da-f328980680ec.png)

[2021-10-26 04:16] juancwu commented on #29
Hi @r4pt0s, how complex should the code highlighting component be? Should it have its own formatter so that the given code is properly formatted within the size of the component? Should it have different highlighting for difference programming languages? Should it support multi-line code? Should the final product underline syntax mistakes?

Sorry for bombing you with so many questions but I just w

[2021-10-26 09:00] r4pt0s commented on #29
@juancwu
Those are all good questions.
I would say we just start with html, css and Javascript.
There is actually a starting point on  [w3schools](https://www.w3schools.com/howto/howto_syntax_highlight.asp)

Multi-line=> yes
Code errors => no

[2021-10-26 14:09] StrykerKent commented on #4
Is this still being worked on?

If not, I would like to take a shot at it.

[2021-10-27 17:54] r4pt0s commented on #98
@sridarshan-webjava
Love it.
Go for it 💪🏻

[2021-10-27 17:56] r4pt0s commented on #92
@aal2015
Go for it. 💪🏻

[2021-10-27 17:56] r4pt0s commented on #91
@fajarsj
Go for it 💪🏻

[2021-10-27 17:57] #88 closed, assigned to nobody

[2021-10-28 05:01] r4pt0s commented on #4
@pri1311
Did you develop anything for this component till now?

[2021-10-28 08:22] yashraj2003e opened #105 "Pre-loading Screen"
I would like to add Pre-loading screen to the project. It is to entertain the site visitors while the actual content of the page is still loading in the background.

[2021-10-28 08:24] yashraj2003e commented on #105
#101

[2021-10-28 18:52] #99 closed, assigned to nobody

[2021-10-29 13:23] pri1311 commented on #4
@r4pt0s I couldn't complete the component. I Will unassign myself.

[2021-10-30 08:28] #105 closed, assigned to nobody

[2021-11-01 04:22] juancwu commented on #29
Hi @r4pt0s, I find myself unable to complete this component. Sorry for the late notice.

[2021-11-01 06:46] r4pt0s commented on #29
No worries @juancwu

[2021-11-08 07:16] lazyprogrammerP commented on #91
Is it still being worked on? Can I work on it?